<div
    class="md:grid md:grid-cols-2 justify-between overflow-hidden pt-0 items-center flex flex-wrap px-4 mx-auto lg:pt-16 lg:flex-wrap md:px-8 bg-transparent pb-24 "
>
    <div class="pt-8 md:pt-16 mb-16 lg:mb-0 lg:pt-32 lg:max-w-lg lg:pr-5">
        <div class="max-w-xl mb-6">
            <div>
                <p
                    class="inline-block px-3 mb-4 text-xs font-thin tracking-wider border border-orange-700 py-1 rounded-full text-orange-700 uppercase bg-transparent"
                >
                    Welcome to the Network
                </p>
            </div>
            <h1
                class="max-w-lg mb-6 text-3xl font-bold tracking-tight text-white sm:text-4xl sm:leading-none"
                 >
                Networkstats.xyz is<br class="hidden md:block"/>
                the Network States statistical office
            </h1>
            <p class="text-sm text-gray-300 md:text-lg">
                We are building the statistical office of Network States. Exploring their growth and directions one new community at a time.
            </p>
            <p class="text-sm text-gray-300 md:text-lg">
                At the moment most information is collected manually. We eventually want to make blockchain-based and other readily available data available and useful.
            </p>
        </div>
        <div class="flex items-center">
            <a
                href="/dashboard"
                class="inline-flex items-center justify-center h-12 px-6 mr-6 font-medium tracking-wide text-white transition duration-200 rounded-lg shadow-md bg-orange-600/90 hover:shadow-orange-500 hover:shadow-sm hover:bg-deep-purple-accent-700 focus:shadow-outline focus:outline-none"
            >
                Go to Dashboard
            </a>
            <a
                href="/about"
                aria-label="explore"
                class="inline-flex items-center font-semibold transition ease-in-out text-gray-100 duration-200 hover:text-orange-600"
                >Find out more about us and Network States</a
            >
        </div>
    </div>
    <div class="w-full mt-5 flex justify-center  items-center md:justify-right md:items-right ">
        <img
            src="assets/hero.jpg"
            class="md:h-full md:w-auto h-1/7 w-2/7 animate-[bounce_3s_ease-in-out_infinite] "
            alt="landing image"
/>
    </div>
</div>