---
title: "About Networkstats.xyz"
---

<section class="p-5 text-white">
    <h1 class="mdTitle text-3xl text-orange-700 mb-3 font-semibold tracking-wider">About Networkstats.xyz</h1>
    <blockquote class="text-gray-300 border-l border-gray-400 px-2 py-0.5 my-1 text-md md:text-1xl ">
     Networkstats.xyz is a research project by <a class="font-bold" href="https://twitter.com/philippnag">@philippnag</a> with the eventual goal of becoming the Network States decentralized statistical office.
    </blockquote>

    <br/>

    <h1 class="mdTitle text-3xl text-orange-700 mb-3 font-semibold tracking-wider">What are Network States?</h1>
    <blockquote class="text-gray-300 border-l border-gray-400 px-2 py-0.5 my-1 text-md md:text-1xl ">
     Network States are highly aligned online-based, but also physically present communities with the eventual goal to gain diplomatic recognition. Find out more about the concept at <a class="font-bold" href="https://thenetworkstate.com/the-network-state-in-one-sentence">thenetworkstate.com</a>.
    </blockquote>
</section>