<!-- component -->
<header class="header shadow-lg bg-[#131b1e] flex items-center justify-between px-4 py-02">
      <!-- logo -->
      <a href="/">
            <img class="h-10 rounded-full border border-gray-300 shadow-sm" src="/assets/logo.jpg"/>
      </a>
      <!-- navigation -->
      <nav class="flex font-semibold text-sm text-white w-3/5 md:w-full text-center text-center items-center justify-center">
            <ul class="flex items-center overflow-x-scroll">
                  {% for link in links %}
                        <li class="p-4 border-b-2 border-orange-600 border-opacity-0 hover:border-opacity-100 hover:text-orange-600 duration-200 cursor-pointer">
                              <a href="{{ link.href }}">{{ link.title  }}</a>
                        </li>
                  {% endfor %}
            </ul>
      </nav>
</header>